<div class="container">
    <div class="grid-container">
        <div class="grid-item">
            <img src="../../../assets/space-removebg-preview.png" style="height: 90px;" alt="logo">
        </div>

        <div class="grid-item">
            <a href="https://www.facebook.com/"><img src="../../../../assets/facebook_icon.png" style="height: 40px;" alt=""></a>
            <a href="https://www.instagram.com/"><img src="../../../../assets/Instagram_icon.png" style="height: 35px;" alt=""></a>
            <a href="https://github.com/"><img src="../../../../assets/Github_icon.png" style="height: 50px;" alt=""></a>
        </div>
    </div>
</div>