.container {
    margin: 18% 0 0 20%;
    display: inline-flex;
    flex-wrap: wrap;
}

.container>div {
    margin: -10px;
}

input[type=text],
select,
textarea {
    width: 500px;
    height: 300px;
    padding: 50px;
    // border: 1px solid #ccc;
    // border-radius: 0px 0px 0px 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.box-countword {
    box-sizing: border-box;
    border-radius: 5px;
    // border: 1px solid black;
    background-color: white;
    width: 600px;
    p {
        color: gray;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        // background-color: black;
        margin: 12% 0 0 27%;
    }
    input[type=text],
    select,
    textarea {
        width: 600px;
        height: 400px;
        padding: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    .box-countword {
        width: 600px;
    }
}