.container {
    margin: 18% 0 0 20%;
}

input[type=text],
select,
textarea {
    width: 500px;
    height: 300px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

@media screen and (min-width: 1200px) {
    .container {
        // background-color: black;
        margin: 12% 0 0 27%;
    }
    input[type=text],
    select,
    textarea {
        width: 600px;
        height: 400px;
        padding: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
}