.container {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.container>div {
    margin: -10px;
}

input[type=text],
select,
textarea {
    width: 500px;
    height: 300px;
    padding: 50px;
    // border: 1px solid #ccc;
    // border-radius: 0px 0px 0px 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

p {
  background: white;
  min-height: 30px;
  height: auto;
  min-width: 50%;
}

.box-countword {
    box-sizing: border-box;
    border-radius: 5px;
    // border: 1px solid black;
    background-color: white;
    width: 600px;
    p {
        color: gray;
    }
}

input {
  width: 100%;
  // height: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  &:focus {
    border-bottom: 1px solid #fff;
  }
}

@media screen and (min-width: 1200px) {
    .container {
        // background-color: black;
        margin: 8% 0 0 27%;
    }
    input[type=text],
    select,
    textarea {
        width: 600px;
        height: 400px;
        padding: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    .box-countword {
        width: 600px;
    }
}

.word {
  &:not(.special-char) {
    margin-right: 3px;
  }

  &.error-1, &.error-2 {
    border-bottom: 2px solid;
  }

  &.error-1 {
    border-color: red;
  }

  &.error-2 {
    border-color: blue;
  }
}



.auto-correct {
  background: white;

  span {
    color: white;
  }

  .error-1, &.error-2 {
    border-bottom: 2px solid;
  }

  .error-1 {
    background: red;
  }

  .error-2 {
    background: blue;
  }

  .correct-word {
    background: green;
  }
}

.cover-response-text {
  width: 100%;
}
