/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    height: 1024px;
    background: linear-gradient(180deg, #0B2027 0%, rgba(32, 63, 70, 0.734375) 26.56%, rgba(55, 96, 101, 0.479167) 52.08%, rgba(82, 132, 131, 0.59) 75%, #70A9A1 96.87%);
}